.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  /* background-image: url("Post-3.png"); */
 background-color: white;
 color: black;
 font-size: xx-large;
 font-weight: 600;
 background-size: contain;
 /* background-blend-mode: overlay; */
 /* background-blend-mode: color-dodge; */
 background-blend-mode: darken;
 /* background-blend-mode: saturation; */
 /* background-blend-mode: multiply; */
 /* background-blend-mode: luminosity; */
 /* background-blend-mode: soft-light; */
 /* background-blend-mode: color-burn; */
 /* background-blend-mode: difference; */
 /* background-blend-mode: screen;  */
 /* background-blend-mode: lighten;*/
  /* background-blend-mode: exclusion; */
}
.link{
  font-size: xx-large;
  text-decoration: none;
  color: black;
  background-color: springgreen;
  text-align: center;
  border-radius: 60px;
}
.link2{
  font-size: xx-large;
  text-decoration: none;
  color: black;
  background-color: aqua;
  text-align: center;
  border-radius: 60px;
}
.linkDiv{
  background-color: springgreen;
  /* text-align: center; */
  border-radius: 30px;
  width: 60%;
  display: flex;
  flex: auto;
  justify-content: center;
  justify-self: center;
  margin-right: 20%;
  margin-left: 20%;
}
.linkDiv2{
  background-color: aqua;
  /* text-align: center; */
  border-radius: 30px;
  width: 60%;
  display: flex;
  flex: auto;
  justify-content: center;
  justify-self: center;
  margin-right: 20%;
  margin-left: 20%;
}
.h2{
  background-color: white;
}
.rightside{
  display: flex;
  flex: 1;
  justify-self: flex-end;
}
.separator{
  display: flex;
  flex: 2;
}


@media screen and (max-width: 600px) {
  .App {
    font-size: 16px;
  }
}
  


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
