.App {
  text-align: center;
  font-family: 'Lora', serif;
  text-decoration: none;

}
.rightside{
  display: flex;
  flex: 1;
  justify-self: flex-end;
}
.separator{
  display: flex;
  flex: 2;
}


@media screen and (max-width: 600px) {
  .App {
    font-size: 16px;
  }
}
  


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
