.scrollbar{
    display: flex;
    flex: 2;
    flex-direction: column;
}
.cards{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
}
.innercard{
    display: flex;
    padding: 1%;
    border-radius: 5px;
    border-width: 6px;
    flex-direction: column;
}